@media only screen and  (max-width:960px){
  //////////////// NAVBAR ////////////////
  .container-navbar{
    img{
      width: 100px;
      height: 70px
    }
    #access{
      font-size: 1rem;
    }
  }

  //////////////// HERO SECTION ////////////////
  .container-hero{
    margin-top: 20px;
    .left-hero{
      .title{
        font-size: 30px;
      }

      #candidati{
        font-size: 30px;
        padding: 10px;
      }

      .subtitle{
        font-size: 20px;
      }
    }
  }

    .right-hero{
      img{
        width: 100%;
        margin-top: 50px;
      }
    }


  //////////////// DESCRIPTION ////////////////
    .container-description{
      .description-left{
        width: 70%;
      }
    }


  //////////////// TUTTO A TUA DISPOSIZIONE ////////////////
  
  .container-needs{
    .needs{
      flex-direction: column;
    margin-top: 50px;
      .needs-left{
        #info-1, #info-2{
          margin-bottom: 20px;
          height: 150px;
        }
      }

      .needs-right{
        #info-3, #info-4{
          margin-bottom: 20px;
          height: 150px;
        }
      }
    }
    #needs-image img {
      display: none;
  }
  }

  //////////////// IL PARERE DEGLI STUDENTI ////////////////

  .container-students{
    .image-profile{
      width: 60px;
      height: 60px;
    }

    h1{
      font-size: 30px;
    }

    header{
      h2{
        font-size: 20px;
      }
    }

    .students-1-left, .students-4-left, .students-2-right, .students-3-right,
    .students-2-left, .students-3-left, .students-1-right, .students-4-right {
      width: 100%;
      height: 200px;
    }
    p{
      font-size: 0.8rem;
    }
  }


   //////////////// ARGOMENTI DEL CORSO ////////////////

   .container-topic{
    .courses-topic{
      .courses-image{
        display: none;
      }
    }
  }


  //////////////// SOLUZIONE PER TE ////////////////

    .container-solutions{
      .container-price{
      #title-price{
        font-size: 25px;
      }
    }
  }
}